<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Covid-19</title>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type"/>
    <link crossorigin="anonymous" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css"
          integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" rel="stylesheet">
</head>

<body>

<!--<p th:text="#{testName}"></p>-->
<h1>Covid-19 Cases Tracker</h1>
<p>This application lists the current number of Covid cases acroos the globe</p>
<div class="jumbotron jumbotron-fluid">
    <div class="container">
        <h1 class="display-4" th:text="${totalReportedCases}"></h1>
        <p class="lead"> Total cases reported as of today </p>
    </div>
</div>
<table>
    <tr>
        <th>State</th>
        <th>Country</th>
        <th>Total Cases</th>
    </tr>
    <tr th:each="locationstate :${locationstate}">
        <td th:text="${locationstate.state}"></td>
        <td th:text="${locationstate.country}"></td>
        <td th:text="${locationstate.latestCases}">0</td>
    </tr>
</table>

</body>

</html>